{{#with member}}
    <h1>{{firstname}} {{surname}}</h1>
    <p>Address: {{address}}, {{zipcode}}</p>
    <p>Phone number: {{telephone}}</p>
    <p>Date joined: {{joindate}}</p>
    <a href="/members/{{memid}}/edit">Edit</a>
{{/with}}
    <img src="{{picture}}">